MODEL_ID=/project/day/workSpace/itc-1stop-solution/itc-1stop-solution-gpu-image/data/models/MAI-UI-8B
SERVED_MODEL_NAME=mai-ui-8b
PORT=8002
GPU_ID=1
TRUST_REMOTE_CODE=1
LIMIT_MM_PER_PROMPT={"image": 1}
CHAT_TEMPLATE=
