MODEL_ID=/project/day/workSpace/itc-1stop-solution/itc-1stop-solution-gpu-image/data/models/UI-Venus-1.5-8B
SERVED_MODEL_NAME=ui-venus-1.5-8b
PORT=8001
GPU_ID=0
TRUST_REMOTE_CODE=1
LIMIT_MM_PER_PROMPT=image=1
CHAT_TEMPLATE=
